<div>
    <img src="./../../../assets/images/loading.gif" *ngIf="!departamentos"/>
    <table class="table table-bordered table-info"
    *ngIf="departamentos">
        <thead>
            <tr>
                <th>Número</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of departamentos">
                <td>{{dept.numero}}</td>
                <td>{{dept.nombre}}</td>
                <td>{{dept.localidad}}</td>
                <td>
                    <a [routerLink]="['/edit', dept.numero, dept.nombre, dept.localidad]">
                        Edit
                    </a>
                    <a [routerLink]="['/delete', dept.numero]"
                    class="btn btn-dark">
                        Delete Link
                    </a>
                    <button class="btn btn-danger"
                    (click)="deleteDepartamento(dept.numero)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>